@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
*{
     font-family: 'Bebas Neue', sans-serif ;
}

h1{
    color: rgb(211, 56, 56);
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.index_boton{
            background-color: rgb(119, 111, 40);
            color: rgb(208, 233, 210);
            width: 150px;
            height: 50px;
            border-radius: 10px;
            border-style: none;
            font-family:'Times New Roman', Times, serif;
            font-size: 75%;
            border: 1px solid rgb(119, 111, 40);
}

body{
    margin: 0;

}

h2, h3, h4,h5, h6{
    font-family: 'Bebas Neue';

}

p{
    font-family: 'Times New Roman', Times, serif;
}

.enca{
    background-image:url(he.jpg);
    background-repeat: no-repeat;
    height:200px;
    width: 2000px;
    display: flex;
    align-items:center;
    justify-content: center;
}

.encabezado-redes-sociales{
    background-color:#c73131;
    height:50px;
    color: whitesmoke;
    display:flex;
    justify-content: center;
    align-items: center;
}

.encabezado-redes-sociales i{
    color:whitesmoke;
}

.encabezado-redes-sociales a{
    margin-right: 25px;
}

nav{
    height: 30px;
    background-color:rgb(110, 192, 147);
    display:flex;
    justify-content: space-around;
    align-items:center;
    font-family:'Roboto Mono', sans-serif;
    font-weight: bolder;
    color:#d12020;
}

nav .nav-imagen-logo img{
    height:25px;
}

nav .nav-menu ul{
    display:flex;
    list-style-type: none; /*quitar las viñetas*/
}

nav .nav-menu-ul li{
    margin-right:20px;
}

nav .nav-menu a{
    text-decoration: none;
    color:#661566;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.pa_main{
    height:60vh;
    display:flex;
    justify-content: center;
    align-items: center;
    /* margin-top:50px; */
    margin-bottom: 100px;
}

.pa_imagen{
    width: 600px;
}

.pa_imagen img{
    width:90%;
    border-radius: 10px;
}

.pa_grid{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.pa {
    width: 25%;
    border: 3px solid #a4a6a77c;
    border-radius: 10px;
    text-align: center;
    margin: 0 30px;
    padding: 1%;
}

.pa h3{
    font-size: 25px;
    margin-bottom: 0;
}

.pa h2{
    font-size: 25px;
    margin-bottom: 0;
}

.pa p{
    margin-top: 0;
}

.pa img{
    height: 200px;
    width: 200px;
}


.main{
    /* border: 5px solid red; */
    height: 100vh;
    background-image: url("programming.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    align-items: center; /*centrar verticalmente*/
    justify-content: center; /*centrar horizontalmente*/

}
/* kljbdsafvljibasvfl*/
.main-section{
    color:white;
    text-align: center;
}

.main-section h1{
    font-size:120px;
    margin-bottom: 0;
    font-family: 'Bebas Neue';
}

.main-section p{
    font-size: 20px;
    margin-top: 0;
    font-family: 'Roboto Mono';

}

.main-section button{
    background-color:#10505c;
    width: 200px;
    height: 50px;
    color: white;
    font-family: 'Roboto Mono';
    font-size: 15px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;

}

.footer{
    height:60px;
    background-image: linear-gradient(#d12020, #d12020);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto Mono'; 
}


.pz_main{
    height:60vh;
    display:flex;
    justify-content: center;
    align-items: center;
    /* margin-top:50px; */
    margin-bottom: 100px;
}

.pz_imagen{
    width: 600px;
}

.pz_imagen img{
    width:90%;
    border-radius: 10px;
}

.pz_grid{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.pz {
    width: 25%;
    border: 3px solid #a4a6a77c;
    border-radius: 10px;
    text-align: center;
    margin: 0 30px;
    padding: 1%;
}

.pz h3{
    font-size: 2rem;
    margin-bottom: 0;
}

.pz p{
    margin-top: 0;
}

.pz img{
    height: 250px;
    width: 250px;
}

.bio_main{
    height:60vh;
    display:flex;
    justify-content: center;
    align-items: center;
    /* margin-top:50px; */
    margin-bottom: 300px;
    margin-top: 100px;
}

.bio_imagen{
    width: 350px;
}

.bio_imagen img{
    width:75%;
    border-radius: 10px;
}

.informacion{
    width:600px;
    font-family: 'Roboto';
    font-size: 25px;
    text-align: justify;
    
}

.informacion_bio{
    width:600px;
    font-family: 'Roboto';
    font-size: 30px;
    text-align: justify;
    
}

.informacion h1{
    font-family: 'Bebas Neue';
    font-size: 60px;
    margin-bottom:0;
}
.informacion p{
    margin-top: 0;
}

.botonera{
    text-align: center;
}

.botonera button{
    background-color:#337040;
    width: 200px;
    height: 50px;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.botonera button:focus{
    background-color:#27c2dd;
}

.blog-titulo{
    text-align:center;
    margin: 100px 0;

}

.blog-titulo h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;
    margin: 0;
}

.blog-titulo p{
    font-family: 'Roboto Mono', 'Roboto';
    margin:0;
}

.blog-cuerpo{
    display:flex;
    justify-content: center;
    align-items: center;
}

.blog-contenido{
    width: 30%;
    padding: 30px;
}

.blog-contenido p{
    text-align: justify;
}


.blog-imagen{
    width: 30%;
}

.blog-imagen img{
    width:100%;
    border-radius:30px;
}

.blog-autor{
    width:60%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.blog-autor h3{
    font-size:30px;
    margin:0;
}

.blog-autor p{
    margin:0;
}

.autor-imagen{
    width: 100px;
    height: 100px;    
    margin: 20px;
}

.autor-imagen img{
    width:100%;
    border-radius: 100%;

}

.contacto{
    height: 80vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
.contacto-card{
    text-align: center;
}

.contacto-imagen{
    width: 300px;
    height: 300px;
    
}

.contacto-imagen img{
    width:100%;
    
}